node_modules
admin
**/coverage
cours
**/cypress
**/cypress
**/cypress
**/users.json
**/app.sqlite
**/dist
**/.clinic
package.json
package-lock.json
vitest.config.js
cypress.config.js
1-tp/1-real-time.md
**/integration
**/plugins
**/support
**/old
**/demo
**/ressources/src
**/correction
.vscode
**/__tests__
daily.md